<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IMediator" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647">
                    <security mode="None">
                        <message clientCredentialType="None" />
                    </security>
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IMediator"
                contract="MediatorServiceRef.IMediator" name="WSDualHttpBinding_IMediator">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
